{% extends "app/layout.html" %}

{% block content %}

{% load static %}

<h2>О сайте</h2>
<h3>Блог о программировании</h3>

<div class="my-clearfix">
    <img src="{% static 'app/content/logo.png'%}" alt="Логотип" class="about-logo" />
    <p>
        Мы идём к тому, чтобы отвечать на все профессиональные потребности айтишников. Если хочешь стать разработчиком,
        устроиться на работу, изучить что-то новое в IT, обсудить что-то с теми, кто тебя понимает, решить проблему — это к нам.
        Чтобы достичь миссии, мы экспериментируем и тыкаем своими робо-щупальцами в разные области знания. Так мы запустили
        сервисы вакансий и ивентов, стали собирать мнения экспертов и делать тезисные расшифровки видео, открыли несколько
        новых каналов в Телеграме и многое другое.
    </p>
</div>

<div class="row vertical-margins">
    <div class="col-md-6 col-md-offset-3">
        <img src="{% static 'app/content/3.jpg'%}" alt="Изображение" class="img-responsive img-rounded" />
    </div>
</div>

<p>
    Нас можно найти на разных социальных платформах. Сложно посчитать всех активных участников точно, потому что у каждой
    платформы свои методы расчёта аудитории. Плюс мы всё время растём. Если прикинуть, то ежемесячно с проектом взаимодействует около 2 млн человек.
</p>

<div class="row vertical-margins">
    <div class="col-md-6 col-md-offset-3">
        <img src="{% static 'app/content/2.jpg'%}" alt="Изображение" class="img-responsive img-rounded" />
    </div>
</div>

<p>
    На базе медиа-ресурса мы развиваем свою площадку с комментариями, лайками, закладками, постингом и другими способами
    пообщаться. В общем-то строим соцсеть, только для айтишников.
</p>

<p>Здесь есть полезные <a href="{% url 'links' %}">ресурсы</a>.</p>

    {% endblock %}
